.main {
  background-image: url(../Resurce/1.jpg);
  width: 100%;
  height: 747px;
}

.fial {
  background-image: url(../Resurce/2.jpg);
  width: auto;
  height: 747px;
  /* opacity: 0.8; */
  background: rgba(37, 40, 80, 0.7);
  /* background: #252b49; */
  mix-blend-mode: normal;
}

.activebox {
  background-image: url(../Resurce/ACTIVEBOX.png);
  width: 120px;
  height: 25.75px;
  top: 38.36px;
  left: 170px;
  position: absolute;
}

.activebox2 {
  background-image: url(../Resurce/ACTIVEBOX2.png);
  width: 60.41px;
  height: 25.73px;
  top: 38.36px;
  left: 293.45px;
  position: absolute;
}

.b1 {
  position: absolute;
  width: 134px;
  height: 28px;
  top: 36px;
  left: 670px;
  background-color: rgba(37, 40, 80, 0.1);
  color: white;
  border: none;
}

.b2 {
  position: absolute;
  height: 28px;
  width: 134px;
  left: 804px;
  top: 36px;
  border-radius: nullpx;
  background-color: rgba(37, 40, 80, 0.1);
  color: white;
  border: none;
}

.b3 {
  position: absolute;
  height: 28px;
  width: 134px;
  left: 938px;
  top: 36px;
  border-radius: nullpx;
  background-color: rgba(37, 40, 80, 0.1);
  color: white;
  border: none;
}

.b4 {
  position: absolute;
  height: 28px;
  width: 134px;
  left: 1072px;
  top: 36px;
  border-radius: nullpx;
  background-color: rgba(37, 40, 80, 0.1);
  color: white;
  border: none;
}

.b5 {
  position: absolute;
  height: 28px;
  width: 134px;
  left: 1206px;
  top: 36px;
  border-radius: nullpx;
  background-color: rgba(37, 40, 80, 0.1);
  color: white;
  border: none;
}

.line {
  position: absolute;
  border-bottom: #babbc5 solid 1px;
  height: 0px;
  width: 1170px;
  left: 170px;
  top: 100px;
  border-radius: nullpx;
}

.centertext {
  position: absolute;
  height: 150px;
  width: 1170px;
  left: 170px;
  top: 230px;
  border-radius: nullpx;
  color: white;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 75px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.centertext:hover {
  text-decoration: underline;
  color: white;
}

.minitext {
  position: absolute;
  height: 56px;
  width: 1170px;
  left: 170px;
  top: 411.428466796875px;
  border-radius: nullpx;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
}

.b6 {
  position: absolute;
  height: 77.57575988769531px;
  width: 369px;
  left: 571px;
  top: 549.42431640625px;
  border-radius: 0px;
  background: #ff4343;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
}

.features {
  position: absolute;
  height: 717px;
  width: 1170px;
  left: 170px;
  top: 863px;
}

.vector {
  /* display: flex; */
  background-image: url(../Resurce/vector/Vector.jpg);
  position: absolute;
  height: 63.41667938232422px;
  width: 63.541664123535156px;
  left: 147px;
  top: 24px;
  border-radius: 0px;
}

.vector1 {
  /* display: flex; */
  background-image: url(../Resurce/vector/Vector1.jpg);
  position: absolute;
  height: 35.470550537109375px;
  width: 35.491294860839844px;
  left: 177.05px;
  top: 23.03px;
  border-radius: 0px;
}

.vector2 {
  background-image: url(../Resurce/vector/Vector2.jpg);
  position: absolute;
  height: 14.666662216186523px;
  width: 14.420124053955078px;
  left: 196.38px;
  top: 24.7px;
  border-radius: 0px;
}

.vector3 {
  background-image: url(../Resurce/vector/vector3.jpg);
  position: absolute;
  height: 25.074684143066406px;
  width: 25.099533081054688px;
  left: 198.01px;
  top: 12.43px;
  border-radius: 0px;
}

.vectortextmain {
  position: absolute;
  height: 72px;
  width: 370px;
  right: 800px;
  top: 129px;
  border-radius: nullpx;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  /* display: flex; */

  color: #2d3033;
}

.vectortext {
  position: absolute;
  height: 84px;
  width: 370px;
  right: 800px;
  top: 221.43px;
  border-radius: nullpx;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  /* display: flex; */
  align-items: center;
  text-align: center;

  color: #6c7279;
}

.tel1 {
  background-image: url(../Resurce/Tel/tel.jpg);
  position: absolute;
  height: 4.166664123535156px;
  width: 52.5px;

  left: 559px;
  top: 83.58px;
  border-radius: 0px;
}

.tel2 {
  background-image: url(../Resurce/Tel/tel2.jpg);
  position: absolute;
  height: 20.291664123535156px;
  width: 4.166667938232422px;
  left: 583px;
  top: 67.45px;
  border-radius: 0px;
}

.tel3 {
  background-image: url(../Resurce/Tel/tel3.jpg);
  position: absolute;
  height: 60.54166793823242px;
  width: 84.75090026855469px;
  left: 543px;
  top: 11.07px;
  border-radius: 0px;
}

.tel4 {
  background-image: url(../Resurce/Tel/tel4.jpg);
  position: absolute;
  height: 4.166667938232422px;
  width: 84.75px;
  left: 543px;
  top: 51.62px;
  border-radius: 0px;
}

.teltextmain {
  position: absolute;
  height: 72px;
  width: 370px;
  left: 401px;
  top: 129px;
  border-radius: nullpx;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  /* display: flex; */
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #2d3033;
}

.teltext {
  position: absolute;
  height: 84px;
  width: 370px;
  left: 401px;
  top: 221px;
  border-radius: nullpx;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #6c7279;
}

.lamp1 {
  background-image: url(../Resurce/lamp/lamp1.jpg);
  position: absolute;
  height: 37.49998474121094px;
  width: 4.166664123535156px;
  left: 983px;
  top: 46px;
  border-radius: 0px;
}

.lamp2 {
  background-image: url(../Resurce/lamp/lamp2.jpg);
  position: absolute;
  height: 11.499992370605469px;
  width: 4.166656494140625px;

  left: 972px;
  top: 82px;
  border-radius: 0px;
}

.lamp3 {
  background-image: url(../Resurce/lamp/lamp3.jpg);
  position: absolute;
  height: 11.499992370605469px;
  width: 4.1666717529296875px;
  left: 994px;
  top: 82px;
  border-radius: 0px;
}

.lamp4 {
  background-image: url(../Resurce/lamp/lamp4.jpg);
  position: absolute;
  height: 20.625003814697266px;
  width: 38.333335876464844px;
  left: 966px;
  top: 63px;
  border-radius: 0px;
}

.lamp5 {
  background-image: url(../Resurce/lamp/lamp5.jpg);
  position: absolute;
  height: 62.377464294433594px;
  width: 67.3333511352539px;

  left: 951px;
  top: 5px;
  border-radius: 0px;
}

.lamptextmain {
  height: 72px;
  width: 370px;

  left: 800px;
  top: 129px;
  border-radius: 0px;

  position: absolute;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  /* display: flex; */
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #2d3033;
}

.lamptext {
  position: absolute;
  height: 84px;
  width: 370px;
  left: 800px;
  top: 221px;
  border-radius: nullpx;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #6c7279;
}

.zv {
  background-image: url(../Resurce/zv/zv.jpg);
  position: absolute;
  height: 76.27659606933594px;
  width: 78.7982406616211px;
  left: 146px;
  top: 405px;
  border-radius: 0px;
}

.zvtextmain {
  position: absolute;
  height: 72px;
  width: 370px;
  top: 523px;
  border-radius: nullpx;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  /* display: flex; */
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #2d3033;
}

.zvtext {
  position: absolute;
  height: 84px;
  width: 370px;

  top: 615px;
  border-radius: nullpx;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #6c7279;
}

.sber1 {
  background-image: url(../Resurce/sber/sber1.jpg);
  position: absolute;
  height: 80.26619720458984px;
  width: 68.2581787109375px;
  left: 545px;
  top: 402px;
  border-radius: 0px;
}

.sber2 {
  background-image: url(../Resurce/sber/sber2.jpg);
  position: absolute;
  height: 40.121646881103516px;
  width: 56.27061080932617px;
  left: 565px;
  top: 416px;
  border-radius: 0px;
}

.sbertextmain {
  position: absolute;
  height: 72px;
  width: 370px;
  left: 401px;
  top: 523px;
  border-radius: nullpx;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  /* display: flex; */
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #2d3033;
}

.sbertext {
  position: absolute;
  height: 84px;
  width: 370px;
  left: 401px;
  top: 615px;
  border-radius: nullpx;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #6c7279;
}

.kol1 {
  background-image: url(../Resurce/kol/kol1.jpg);
  position: absolute;
  height: 25.000015258789062px;
  width: 25.000003814697266px;
  left: 997px;
  top: 450px;
  border-radius: 0px;
}

.kol2 {
  background-image: url(../Resurce/kol/kol2.jpg);
  position: absolute;
  height: 25.000015258789062px;
  width: 25.000003814697266px;
  left: 966px;
  top: 450px;
  border-radius: 0px;
}

.kol3 {
  background-image: url(../Resurce/kol/kol3.jpg);
  position: absolute;
  height: 45.33899688720703px;
  width: 31.867862701416016px;
  left: 942px;
  top: 411px;
  border-radius: 0px;
}

.kol4 {
  background-image: url(../Resurce/kol/kol4.jpg);
  position: absolute;
  height: 30.54778289794922px;
  width: 14.089157104492188px;

  left: 1012px;
  top: 425px;
  border-radius: 0px;
}

.kol5 {
  background-image: url(../Resurce/kol/kol5.jpg);
  position: absolute;
  height: 4.166679382324219px;
  width: 21.625px;

  left: 983px;
  top: 450px;
  border-radius: 0px;
}

.koltextmain {
  position: absolute;
  height: 72px;
  width: 370px;
  left: 800px;
  top: 523px;
  border-radius: nullpx;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  /* display: flex; */
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #2d3033;
}

.koltext {
  position: absolute;
  height: 84px;
  width: 370px;
  left: 800px;
  top: 615px;
  border-radius: nullpx;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  align-items: center;
  text-align: center;

  color: #6c7279;
}

.project {
  top: 1696px;
  position: absolute;
  width: 1510px;
  height: 678px;
}

.pic1 {
  background-image: url(../Resurce/pic/work_1.jpg);
  position: absolute;
  height: 340px;
  width: 378px;
  left: 0px;
  border-radius: 0px;
}

.pic2 {
  background-image: url(../Resurce/pic/work_2.jpg);
  position: absolute;
  height: 340px;
  width: 378px;
  left: 377px;
  border-radius: 0px;
}

.pic3 {
  background-image: url(../Resurce/pic/work_3.jpg);
  position: absolute;
  height: 340px;
  width: 378px;
  left: 754px;
  border-radius: 0px;
}

.pic4 {
  background-image: url(../Resurce/pic/work_4.jpg);
  position: absolute;
  height: 340px;
  width: 378px;
  left: 1132px;
  border-radius: 0px;
}

.pic5 {
  background-image: url(../Resurce/pic/work_5.jpg);
  position: absolute;
  height: 340px;
  width: 378px;
  left: 0px;
  border-radius: 0px;
  bottom: 0px;
}

.pic6 {
  background-image: url(../Resurce/pic/work_6.jpg);
  position: absolute;
  height: 340px;
  width: 378px;
  left: 377px;
  border-radius: 0px;
  bottom: 0px;
}

.pic7 {
  background-image: url(../Resurce/pic/work_7.jpg);
  position: absolute;
  height: 340px;
  width: 378px;
  left: 754px;
  border-radius: 0px;
  bottom: 0px;
}

.pic8 {
  background-image: url(../Resurce/pic/work_8.jpg);
  position: absolute;
  height: 340px;
  width: 378px;
  left: 1132px;
  border-radius: 0px;
  bottom: 0px;
}

.ourteam {
  position: absolute;
  height: 619px;
  width: 1170px;
  left: 170px;
  top: 2488px;
  border-radius: 0px;
}

.p1 {
  background-image: url(../Resurce/pers/p1.jpg);
  position: absolute;
  height: 270px;
  width: 270px;
  left: 0px;
  border-radius: 0px;
}

.rectextmain {
  position: absolute;
  height: 30px;
  width: 270px;
  top: 300px;
  border-radius: nullpx;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-transform: capitalize;

  color: #2d3033;
}

.ttext {
  position: absolute;
  height: 21px;
  width: 270px;
  left: 0px;
  top: 335px;
  border-radius: nullpx;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-transform: uppercase;

  color: #ff4343;
}

.rectext {
  position: absolute;
  height: 168px;
  width: 270px;
  left: 0px;
  top: 374px;
  border-radius: nullpx;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;

  color: #6c7279;
}

.recface {
  background-image: url(../Resurce/pers/ram.jpg);
  position: absolute;
  height: 39px;
  width: 39px;
  top: 580px;
  border-radius: 0px;
}

.r1 {
  background-image: url(../Resurce/pers/face.jpg);
  position: absolute;
  height: 17.997169494628906px;
  width: 9.335999488830566px;
  left: 14px;
  top: 11px;
  border-radius: 0px;
}

.rectwit {
  background-image: url(../Resurce/pers/ram.jpg);
  position: absolute;
  height: 39px;
  width: 39px;
  left: 45px;
  top: 580px;
  border-radius: 0px;
}

.r2 {
  background-image: url(../Resurce/pers/twit.jpg);
  position: absolute;
  height: 15.96200180053711px;
  width: 19.652000427246094px;

  left: 9px;
  top: 11px;
  border-radius: 0px;
}

.recin {
  background-image: url(../Resurce/pers/ram.jpg);
  position: absolute;
  height: 39px;
  width: 39px;
  left: 89px;
  top: 580px;
  border-radius: 0px;
}

.r3 {
  background-image: url(../Resurce/pers/in.jpg);
  position: absolute;
  height: 18px;
  width: 18px;
  border-radius: 0px;

  left: 10px;
  top: 10px;
  border-radius: 0px;
}

.p2 {
  background-image: url(../Resurce/pers/p2.jpg);
  position: absolute;
  height: 270px;
  width: 270px;
  left: 300px;
  border-radius: 0px;
}

.rectextmain1 {
  position: absolute;
  height: 30px;
  width: 270px;
  top: 300px;

  border-radius: nullpx;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-transform: capitalize;

  color: #2d3033;
}

.ttext1 {
  position: absolute;
  height: 21px;
  width: 270px;
  left: 0px;
  top: 335px;
  border-radius: nullpx;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-transform: uppercase;

  color: #ff4343;
}

.rectext1 {
  position: absolute;
  height: 168px;
  width: 270px;
  left: 0px;
  top: 374px;
  border-radius: nullpx;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;

  color: #6c7279;
}

.recface1 {
  background-image: url(../Resurce/pers/ram.jpg);
  position: absolute;
  height: 39px;
  width: 39px;
  top: 580px;
  border-radius: 0px;
}

.rectwit1 {
  background-image: url(../Resurce/pers/ram.jpg);
  position: absolute;
  height: 39px;
  width: 39px;
  left: 45px;
  top: 580px;
  border-radius: 0px;
}

.recin1 {
  background-image: url(../Resurce/pers/ram.jpg);
  position: absolute;
  height: 39px;
  width: 39px;
  left: 89px;
  top: 580px;
  border-radius: 0px;
}

.p3 {
  background-image: url(../Resurce/pers/p3.jpg);
  position: absolute;
  height: 270px;
  width: 270px;
  left: 600px;
  border-radius: 0px;
}

.rectextmain2 {
  position: absolute;
  height: 30px;
  width: 270px;
  top: 300px;

  border-radius: nullpx;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-transform: capitalize;

  color: #2d3033;
}

.ttext2 {
  position: absolute;
  height: 21px;
  width: 270px;
  left: 0px;
  top: 335px;
  border-radius: nullpx;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-transform: uppercase;

  color: #ff4343;
}

.rectext2 {
  position: absolute;
  height: 168px;
  width: 270px;
  left: 0px;
  top: 374px;
  border-radius: nullpx;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;

  color: #6c7279;
}

.recface2 {
  background-image: url(../Resurce/pers/ram.jpg);
  position: absolute;
  height: 39px;
  width: 39px;
  top: 580px;
  border-radius: 0px;
}

.rectwit2 {
  background-image: url(../Resurce/pers/ram.jpg);
  position: absolute;
  height: 39px;
  width: 39px;
  left: 45px;
  top: 580px;
  border-radius: 0px;
}

.recin2 {
  background-image: url(../Resurce/pers/ram.jpg);
  position: absolute;
  height: 39px;
  width: 39px;
  left: 89px;
  top: 580px;
  border-radius: 0px;
}

.p4 {
  background-image: url(../Resurce/pers/p4.jpg);
  position: absolute;
  height: 270px;
  width: 270px;
  left: 900px;
  border-radius: 0px;
}

.rectextmain3 {
  position: absolute;
  height: 30px;
  width: 270px;
  top: 300px;

  border-radius: nullpx;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-transform: capitalize;

  color: #2d3033;
}

.ttext3 {
  position: absolute;
  height: 21px;
  width: 270px;
  left: 0px;
  top: 335px;
  border-radius: nullpx;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-transform: uppercase;

  color: #ff4343;
}

.rectext3 {
  position: absolute;
  height: 168px;
  width: 270px;
  left: 0px;
  top: 374px;
  border-radius: nullpx;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;

  color: #6c7279;
}

.recface3 {
  background-image: url(../Resurce/pers/ram.jpg);
  position: absolute;
  height: 39px;
  width: 39px;
  top: 580px;
  border-radius: 0px;
}

.rectwit3 {
  background-image: url(../Resurce/pers/ram.jpg);
  position: absolute;
  height: 39px;
  width: 39px;
  left: 45px;
  top: 580px;
  border-radius: 0px;
}

.recin3 {
  background-image: url(../Resurce/pers/ram.jpg);
  position: absolute;
  height: 39px;
  width: 39px;
  left: 89px;
  top: 580px;
  border-radius: 0px;
}

.test {
  position: absolute;
  background-color: white;
  width: 1511px;
  height: 535px;
  top: 3221px;
}

.test1 {
  position: absolute;
  background-color: #5c3249;
  width: 1511px;
  height: 490px;
}

.bg1 {
  position: absolute;
  background-image: url(../Resurce/bg/bg1.jpg);
  width: 741px;
  height: 490px;
}

.bg2 {
  position: absolute;
  height: 230px;
  width: 471px;
  left: 869px;
  top: 116px;
  border-radius: nullpx;
  font-family: "Cardo";
  font-style: italic;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  display: flex;
  align-items: center;
  text-transform: capitalize;

  color: #ffffff;
}

.bg3 {
  position: absolute;
  height: 28px;
  width: 470px;
  left: 870px;
  top: 346px;
  border-radius: nullpx;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-transform: uppercase;

  color: #ffffff;
}

.cont1 {
  background-image: url(../Resurce/bg/cont1.jpg);
  position: absolute;
  height: 14px;
  width: 14px;
  left: 670px;
  top: 521px;
  border-radius: 0px;
}

.cont2 {
  background-image: url(../Resurce/bg/cont2.jpg);
  position: absolute;
  height: 14px;
  width: 14px;
  left: 710px;
  top: 521px;
  border-radius: 0px;
}

.cont3 {
  background-image: url(../Resurce/bg/cont1.jpg);
  position: absolute;
  height: 14px;
  width: 14px;
  left: 749px;
  top: 521px;
  border-radius: 0px;
}

.cont4 {
  background-image: url(../Resurce/bg/cont1.jpg);
  position: absolute;
  height: 14px;
  width: 14px;
  left: 788px;
  top: 521px;
  border-radius: 0px;
}

.cont5 {
  background-image: url(../Resurce/bg/cont1.jpg);
  position: absolute;
  height: 14px;
  width: 14px;
  left: 827px;
  top: 521px;
  border-radius: 0px;
}

.download {
  position: absolute;
  height: 224px;
  width: 1170px;
  left: 170px;
  top: 3870px;
  border-radius: 0px;
}

.downtext {
  height: 70px;
  width: 1000px;
  left: 220px;
  bottom: 154px;
  border-radius: nullpx;

  position: absolute;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.nextdowntext {
  position: absolute;
  height: 21px;
  width: 900px;
  left: 375px;
  top: 75.29px;
  border-radius: nullpx;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #000000;
}

.bdownload {
  position: absolute;
  height: 77.57575988769531px;
  width: 369px;
  left: 401px;
  top: 146px;
  border-radius: 0px;

  border-radius: 0px;
  background: #ff4343;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
}

.footer {
  position: absolute;
  height: 340px;
  width: 1511px;

  top: 4208px;
  border-radius: 0px;
  background: #353c65;
}

.location {
  position: absolute;
  height: 21px;
  width: 370px;
  left: 171px;
  top: 71px;
  border-radius: nullpx;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;

  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

.share {
  position: absolute;
  height: 21px;
  width: 370px;
  left: 571px;
  top: 71px;
  border-radius: nullpx;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;

  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

.about {
  position: absolute;
  height: 21px;
  width: 370px;
  left: 971px;
  top: 71px;
  border-radius: nullpx;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;

  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

.tf {
  position: absolute;
  height: 21px;
  width: 370px;
  left: 171px;
  top: 121px;
  border-radius: nullpx;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  align-items: center;
  text-align: center;
  text-transform: capitalize;

  color: #ffffff;
}

.cras {
  position: absolute;
  height: 63px;
  width: 370px;
  left: 971px;
  top: 120px;
  border-radius: nullpx;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  align-items: center;
  text-align: center;
  text-transform: capitalize;

  color: #ffffff;
}

.footer2 {
  position: absolute;
  height: 90px;
  width: 1511px;

  top: 251px;
  border-radius: 0px;
  background: #2c3154;
}

.copy {
  position: absolute;
  height: 42px;
  width: 370px;
  left: 571px;
  top: 24px;
  border-radius: nullpx;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  align-items: center;
  text-align: center;
  text-transform: capitalize;

  color: #808080;
}
